## Task

1. Write a NumPy program to test element-wise for NaN of a given array.
2. Write a NumPy program to test element-wise for complex number, real number of a given array. Also test whether a given number is a scalar type or not.
3. Write a NumPy program to test whether two arrays are element-wise equal within a tolerance.
4. Write a NumPy program to create an element-wise comparison (greater, greater_equal, less and less_equal) of two given arrays.
5. Write a NumPy program to create an element-wise comparison (equal, equal within a tolerance) of two given arrays.
6. Write a NumPy program to create an array with the values 1, 7, 13, 105 and determine the size of the memory occupied by the array.
7. In the code cell below, write the code to get and display the 55th row in the dataframe df.
8. In the code cell below write the code to display the first 10 rows of the dataframe <code>df</code>.
9. In the code cell below, select and display the first eight rows from the <code>'Country'</code> and <code>'TB deaths'</code> columns.
10. In the code cell below write code to find all the rows in <code>df</code> where TB deaths exceed 10000.
11. In the code cell below find  all the countries where the Population (1000s) is **less than or equal to** 50000 **or** TB deaths are **greater than or equal to** 20000.

In [9]:
import numpy as np

In [4]:
#1. 
arr = np.array([1, 2, np.nan, 4, np.nan, 6, 7])
print(arr)

Test = np.isnan(arr)
print(Test)

[ 1.  2. nan  4. nan  6.  7.]
[False False  True False  True False False]

In [17]:
#2
arr = np.array([1.4, 2+3j, 5.5, 4j, 7])

print(arr)

print("\nComplex?")
print(arr)
print(np.iscomplex(arr))

print("\nReal Numbers?")
print(arr)
print(np.isreal(arr))

print("\nScaler?")
a = 10
print(np.isscalar(a))

[1.4+0.j 2. +3.j 5.5+0.j 0. +4.j 7. +0.j]

Complex?
[1.4+0.j 2. +3.j 5.5+0.j 0. +4.j 7. +0.j]
[False  True False  True False]

Real Numbers?
[1.4+0.j 2. +3.j 5.5+0.j 0. +4.j 7. +0.j]
[ True False  True False  True]

Scaler?
True

In [24]:
#3
arr1 = np.array([5, 10.0, 20.00001, 40.0])
arr2 = np.array([5, 10.00004, 20.00002, 39.9999])

result = np.allclose(arr1, arr2)
print(result)

True

In [29]:
#4
arr1 = np.array([1, 3, 5, 7])
arr2 = np.array([2, 4, 6, 8])

print("\nGreater than (arr1 > arr2):")
print(np.greater(arr1, arr2))

print("\nGreater equal (arr1 >= arr2):")
print(np.greater_equal(arr1, arr2))

print("\nLess than (arr1 < arr2):")
print(np.less(arr1, arr2))

print("\nLess equal (arr1 <= arr2):")
print(np.less_equal(arr1, arr2))

Greater than (arr1 > arr2):
[False False False False]

Greater equal (arr1 >= arr2):
[False False False False]

Less than (arr1 < arr2):
[ True  True  True  True]

Less equal (arr1 <= arr2):
[ True  True  True  True]

In [30]:
#5
arr1 = np.array([10.0, 20.0, 30.0, 40.0001])
arr2 = np.array([10.0, 20.0001, 29.9999, 40.0])

# Element‑wise equality check
print(np.equal(arr1, arr2))

# Element‑wise equality within a tolerance
print(np.isclose(arr1, arr2))

[ True False False False]
[ True  True  True  True]

In [32]:
#6
arr = np.array([1, 7, 13, 105])
print(arr.nbytes)

32

In [59]:
import pandas as pd
data = pd.read_csv('WHO POP TB all.csv')
data

                                Country  Population (1000s)  TB deaths
0                           Afghanistan               30552   13000.00
1                               Albania                3173      20.00
2                               Algeria               39208    5100.00
3                               Andorra                  79       0.26
4                                Angola               21472    6900.00
..                                  ...                 ...        ...
189  Venezuela (Bolivarian Republic of)               30405     480.00
190                            Viet Nam               91680   17000.00
191                               Yemen               24407     990.00
192                              Zambia               14539    3600.00
193                            Zimbabwe               14150    5700.00

[194 rows x 3 columns]

In [61]:
#7
df = pd.read_csv('WHO POP TB all.csv')
df.iloc[54]

Country               El Salvador
Population (1000s)           6340
TB deaths                    61.0
Name: 54, dtype: object

In [45]:
#8
df.head(10)

               Country  Population (1000s)  TB deaths
0          Afghanistan               30552   13000.00
1              Albania                3173      20.00
2              Algeria               39208    5100.00
3              Andorra                  79       0.26
4               Angola               21472    6900.00
5  Antigua and Barbuda                  90       1.20
6            Argentina               41446     570.00
7              Armenia                2977     170.00
8            Australia               23343      45.00
9              Austria                8495      29.00

In [48]:
#9
df[['Country', 'TB deaths']].head(8)

               Country  TB deaths
0          Afghanistan   13000.00
1              Albania      20.00
2              Algeria    5100.00
3              Andorra       0.26
4               Angola    6900.00
5  Antigua and Barbuda       1.20
6            Argentina     570.00
7              Armenia     170.00

In [69]:
#10
df[df['TB deaths'] > 10000]

                              Country  Population (1000s)  TB deaths
0                         Afghanistan               30552    13000.0
13                         Bangladesh              156595    80000.0
36                              China             1393337    41000.0
47   Democratic Republic of the Congo               67514    46000.0
58                           Ethiopia               94101    30000.0
77                              India             1252140   240000.0
78                          Indonesia              249866    64000.0
100                        Madagascar               22925    12000.0
115                        Mozambique               25834    18000.0
116                           Myanmar               53259    26000.0
124                           Nigeria              173615   160000.0
128                          Pakistan              182143    49000.0
134                       Philippines               98394    27000.0
141                Russian Federation              142834    17000.0
159                      South Africa               52776    25000.0
190                          Viet Nam               91680    17000.0

In [70]:
#11
df[(df['Population (1000s)'] <= 50000) | (df['TB deaths'] >= 20000)]

                                Country  Population (1000s)  TB deaths
0                           Afghanistan               30552   13000.00
1                               Albania                3173      20.00
2                               Algeria               39208    5100.00
3                               Andorra                  79       0.26
4                                Angola               21472    6900.00
..                                  ...                 ...        ...
188                             Vanuatu                 253      16.00
189  Venezuela (Bolivarian Republic of)               30405     480.00
191                               Yemen               24407     990.00
192                              Zambia               14539    3600.00
193                            Zimbabwe               14150    5700.00

[180 rows x 3 columns]

## Assignment

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.


2. Write a Python program to convert a Panda module Series to Python list and it's type.


3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]


4. Write a Python program to get the largest integer smaller or equal to the division of the inputs.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]


5. Write a Python program to convert a dictionary to a Pandas series.
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64


6. Write a Python program to convert a NumPy array to a Pandas series.
Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50
dtype: int64


7. Write a Python program to change the data type of given a column or a Series.
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64


8. Write a Python Pandas program to convert the first column of a DataFrame as a Series.
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>


9. Write a Pandas program to convert a given Series to an array.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']



 
10. Write a Pandas program to convert Series of lists to one Series.
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object


11. Write a Pandas program to sort a given Series.
Sample Output:
Original Data Series: 0 100
1 200
2 python
3 300.12
4 400
dtype: object
0 100
1 200
3 300.12
4 400
2 python
dtype: object


12. Write a Pandas program to add some data to an existing Series.
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Data Series after adding some data:
0 100
1 200
2 python
3 300.12
4 400
0 500
1 php
dtype: object

In [5]:
import pandas as pd 
import numpy as np

In [17]:
#Question 1
arr = pd.array([1, 2, 3, 4, 5])  
print(arr)

<IntegerArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: Int64

In [19]:
#Question 2
arr = np.array([1, 2, 3, 4, 5])  
newarr = arr.astype(list)  
print(newarr)  
print(newarr.dtype)

[1 2 3 4 5]
object

In [21]:
#Question 3
#To add two Pandas Series
arr1 = np.array([1, 2, 3, 4]) 
arr2 = np.array([5, 6, 7, 8]) 
arr = np.add(arr1, arr2)
print(arr)

[ 6  8 10 12]

In [12]:
#To substract two Pandas Series
arr1 = np.array([1, 2, 3, 4]) 
arr2 = np.array([5, 6, 7, 8]) 
arr = np.subtract(arr1, arr2)
print(arr)

[-4 -4 -4 -4]

In [13]:
#To multiply two Pandas Series
arr1 = np.array([1, 2, 3, 4]) 
arr2 = np.array([5, 6, 7, 8]) 
arr = np.multiply(arr1, arr2)
print(arr)

[ 5 12 21 32]

In [15]:
#To divide two Pandas Series
arr1 = np.array([10, 18, 21, 24]) 
arr2 = np.array([5, 6, 7, 8]) 
arr = np.divide(arr1, arr2)
print(arr)

[2. 3. 3. 3.]

In [22]:
#Question 4
arr1 = np.array([2, 4, 6, 8, 10])
arr2 = np.array([1, 3, 5, 7, 9])

floor_div = arr1 // arr2
print(floor_div)

[2 1 1 1 1]

In [23]:
#Question 5
data = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
list = pd.Series(data)

print(list)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [24]:
#Question 6
arr = np.array([10, 20, 30, 40, 50])
Convert = pd.Series(arr)

print("NumPy array:", arr)
print("\nConverted Pandas series:")
print(Convert)

NumPy array: [10 20 30 40 50]

Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [31]:
#Question 7
arr = pd.Series([100, 200, 'python', 300.12, 400], name='value')
print("Initial Data Series:")
print(arr)
print("dtype:", arr.dtype)
print()

arr_numeric = pd.to_numeric(s, errors='coerce')
print("Change the said data type to numeric:")
print(arr_numeric)
print("dtype:", arr_numeric.dtype)

Initial Data Series:
0       100
1       200
2    python
3    300.12
4       400
Name: value, dtype: object
dtype: object

Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
Name: value, dtype: float64
dtype: float64

In [37]:
#Question 8
df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

print("DataFrame")
print(df)

series = df['col1']

print("1st column as a Series:")
print(series)
print(type(series))

DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [75]:
#Question 9 
data = pd.Series([100, 200, 'python', 300.12, 400])
print("Original Data Series:")
print(data)
print()

arr = data.values

print("Series to an array")
print(arr)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array
[100 200 'python' 300.12 400]

In [77]:
#Question 10

data = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']
])
print("Original series of list")
print(data)
print("dtype:", data.dtype)
print()

flat = data.explode().reset_index(drop=True)

print("One Series")
print("dtype:", data.dtype)

Original series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
dtype: object

One Series
dtype: object

In [73]:
#Question 11
data = pd.Series([100, 200, 'python', 300.12, 400])

print("Original Series of list")
print(data)
print()

result = data.explode().reset_index(drop=True)

print("One Series")
print(result)

Original Series of list
0       100
1       200
2    python
3    300.12
4       400
dtype: object

One Series
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [82]:
#Question 12
data = pd.Series([100, 200, 'python', 300.12, 400])
print("Original Data Series:")
print(data)

new_data = pd.Series([500, 'php'])

result = pd.concat([data, new_data], ignore_index=False)

print("Data Series after adding some data:")
print(result)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

## Assessment

#### See the attached datasets in Data Analysis folder ``` Beijing_PEK_2014.csv, Brasilia_BSB_2014.csv, CapeTown_CPT_2014.csv, Delhi_DEL_2014.csv, London_2014.csv, and Moscow_SVO_2014.csv.``` Explore them, run your analysis on them, and detail your findings below as much as you can.

In [46]:
import pandas as pd
from datetime import datetime

In [34]:
data = pd.read_csv('Beijing_PEK_2014.csv')
data

,Date,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,12,4,-2,-12,-17,-20,44,19,7,...,31,11,5,32,16,47.0,0.0,NaN,NaN,291<br />
1,2014-1-2,7,0,-6,-6,-9,-13,74,50,28,...,18,7,3,18,5,NaN,0.0,NaN,NaN,20<br />
2,2014-1-3,9,3,-2,-7,-13,-18,64,32,9,...,31,13,5,18,8,NaN,0.0,NaN,NaN,24<br />
3,2014-1-4,2,-2,-6,-4,-7,-9,80,68,44,...,10,5,2,11,5,NaN,0.0,2.0,NaN,56<br />
4,2014-1-5,7,0,-7,-5,-11,-15,80,51,15,...,31,7,3,18,10,NaN,0.0,NaN,NaN,18<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,6,-1,-8,-7,-9,-11,80,57,21,...,5,3,0,14,6,26.0,0.0,NaN,Fog,342<br />
361,2014-12-28,9,1,-6,-7,-11,-14,80,43,10,...,11,4,0,26,8,43.0,0.0,NaN,Fog,322<br />
362,2014-12-29,12,2,-8,-7,-12,-15,68,42,6,...,14,6,0,32,6,40.0,0.0,NaN,NaN,320<br />
363,2014-12-30,7,1,-5,-8,-14,-22,54,30,7,...,10,8,3,35,10,58.0,0.0,NaN,NaN,3<br />
364,2014-12-31,1,-2,-5,-17,-22,-27,29,20,5,...,23,18,10,72,34,93.0,0.0,NaN,NaN,330<br />

In [6]:
df = pd.read_csv("Beijing_PEK_2014.csv")

In [22]:
df['Mean TemperatureC'].mean().round(2)

np.float64(13.36)

In [21]:
df['MeanDew PointC'].mean().round(2)

np.float64(2.12)

In [66]:
df.columns = df.columns.str.strip()

In [67]:
df['Mean Humidity'].mean().round(2)

np.float64(58.07)

In [44]:
df['Mean VisibilityKm'].mean().round(2)

np.float64(9.5)

In [45]:
df['Mean Wind SpeedKm/h'].mean().round(2)

np.float64(8.94)

In [53]:
#top5 warmest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].head(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
251  2014-9-9                29                 21                14
250  2014-9-8                29                 22                16
249  2014-9-7                30                 26                22
248  2014-9-6                29                 24                20
247  2014-9-5                30                 24                18

In [54]:
#top5 coldest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].tail(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
12  2014-1-13                 3                 -4               -12
11  2014-1-12                 4                 -3                -9
10  2014-1-11                 5                 -4               -13
9   2014-1-10                 5                 -4               -13
0    2014-1-1                12                  4                -2

In [61]:
#Most humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].head(5)

           Date  Max Humidity
246    2014-9-4           100
273   2014-10-1           100
282  2014-10-10           100
281   2014-10-9           100
280   2014-10-8           100

In [111]:
data = pd.read_csv('Brasilia_BSB_2014.csv')
data

,Date,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,31,24,17,19,18,16,94,64,33,...,19,11,10,14,5,NaN,0.00,3.0,Thunderstorm,125<br />
1,2014-1-2,30,23,17,19,17,14,94,65,33,...,19,12,10,16,5,NaN,0.00,2.0,NaN,102<br />
2,2014-1-3,32,24,18,20,15,11,88,55,19,...,19,13,10,19,6,NaN,0.00,2.0,NaN,133<br />
3,2014-1-4,32,25,18,17,13,8,77,47,16,...,19,12,10,24,6,NaN,0.00,2.0,NaN,106<br />
4,2014-1-5,30,24,19,16,13,9,83,48,23,...,19,12,10,24,8,NaN,0.00,3.0,Rain,106<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,29,25,21,17,14,12,73,52,23,...,19,13,10,32,14,NaN,0.00,3.0,NaN,101<br />
361,2014-12-28,31,24,18,16,13,10,77,49,17,...,19,12,10,14,8,NaN,0.00,3.0,NaN,114<br />
362,2014-12-29,32,26,19,17,14,10,78,50,16,...,19,12,10,21,5,26.0,0.00,5.0,Thunderstorm,266<br />
363,2014-12-30,32,26,20,18,16,13,78,56,27,...,19,12,10,16,6,NaN,0.00,2.0,Rain-Thunderstorm,266<br />
364,2014-12-31,30,24,18,18,16,1,83,60,28,...,19,11,10,39,11,NaN,1.02,4.0,Rain-Thunderstorm,210<br />

In [112]:
df = pd.read_csv('Brasilia_BSB_2014.csv')

In [91]:
df['Mean TemperatureC'].mean().round(2)

np.float64(22.9)

In [92]:
df['MeanDew PointC'].mean().round(2)

np.float64(13.68)

In [94]:
df.columns = df.columns.str.strip()

In [95]:
df['Mean Humidity'].mean().round(2)

np.float64(58.07)

In [86]:
df['Mean VisibilityKm'].mean().round(2)

np.float64(12.27)

In [87]:
df['Mean Wind SpeedKm/h'].mean().round(2)

np.float64(7.63)

In [97]:
#top5 warmest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].head(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
251  2014-9-9                29                 21                14
250  2014-9-8                28                 22                16
249  2014-9-7                28                 21                15
248  2014-9-6                27                 22                17
247  2014-9-5                30                 26                21

In [135]:
#top5 coldest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].tail(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
12  2014-1-13                 1                 -7               -14
11  2014-1-12                -4                -11               -17
10  2014-1-11                -5                -10               -15
9   2014-1-10                -5                -10               -14
0    2014-1-1                -4                 -7                -9

In [99]:
#Most humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].head(5)

           Date  Max Humidity
85    2014-3-27           100
94     2014-4-5           100
22    2014-1-23           100
350  2014-12-17           100
208   2014-7-28           100

In [100]:
#least humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].tail(5)

          Date  Max Humidity
276  2014-10-4            52
254  2014-9-12            52
278  2014-10-6            49
255  2014-9-13            48
260  2014-9-18            47

In [114]:
data = pd.read_csv('CapeTown_CPT_2014.csv')
data

,Date,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,28,23,18,19,17,15,88,71,45,...,19.0,14.0,10.0,35,14,NaN,0.0,2.0,NaN,213<br />
1,2014-1-2,28,23,18,19,18,16,88,74,46,...,26.0,13.0,10.0,32,21,NaN,0.0,2.0,NaN,204<br />
2,2014-1-3,27,23,19,19,18,18,94,75,48,...,31.0,12.0,3.0,32,26,NaN,0.0,4.0,NaN,193<br />
3,2014-1-4,27,22,18,19,18,14,88,74,46,...,26.0,13.0,9.0,32,18,NaN,0.0,3.0,NaN,314<br />
4,2014-1-5,26,22,18,17,16,14,83,70,46,...,26.0,13.0,10.0,45,21,NaN,0.0,4.0,Rain,25<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,24,20,15,15,13,10,77,61,44,...,31.0,15.0,10.0,48,27,NaN,0.0,1.0,NaN,163<br />
361,2014-12-28,28,21,15,15,14,12,82,57,33,...,31.0,13.0,10.0,35,26,NaN,0.0,1.0,NaN,169<br />
362,2014-12-29,29,24,18,17,15,14,78,59,36,...,31.0,14.0,10.0,34,19,NaN,0.0,1.0,NaN,183<br />
363,2014-12-30,27,23,19,17,16,15,78,60,44,...,31.0,15.0,10.0,42,31,48.0,0.0,1.0,NaN,165<br />
364,2014-12-31,32,26,19,18,16,15,73,55,29,...,31.0,12.0,10.0,34,19,NaN,0.0,1.0,NaN,171<br />

In [115]:
df['Mean TemperatureC'].mean().round(2)

np.float64(22.9)

In [116]:
df['MeanDew PointC'].mean().round(2)

np.float64(13.68)

In [119]:
df.columns = df.columns.str.strip()

In [120]:
df['Mean Humidity'].mean().round(2)

np.float64(58.07)

In [121]:
df['Mean VisibilityKm'].mean().round(2)

np.float64(12.27)

In [122]:
df['Mean Wind SpeedKm/h'].mean().round(2)

np.float64(7.63)

In [123]:
#top5 warmest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].head(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
251  2014-9-9                22                 16                11
250  2014-9-8                19                 15                11
249  2014-9-7                20                 14                 8
248  2014-9-6                18                 14                10
247  2014-9-5                18                 16                13

In [124]:
#top5 coldest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].tail(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
12  2014-1-13                27                 22                17
11  2014-1-12                24                 20                16
10  2014-1-11                23                 19                15
9   2014-1-10                23                 20                16
0    2014-1-1                28                 23                18

In [125]:
#Most humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].head(5)

          Date  Max Humidity
209  2014-7-29           100
150  2014-5-31           100
149  2014-5-30           100
187   2014-7-7           100
203  2014-7-23           100

In [126]:
#least humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].tail(5)

           Date  Max Humidity
353  2014-12-20            68
102   2014-4-13            68
104   2014-4-15            68
320  2014-11-17            68
303  2014-10-31            63

In [128]:
data = pd.read_csv('Delhi_DEL_2014.csv')
data

,Date,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,-4,-7,-9,-9,-10,-11,82,70,58,...,2,2,2,6,2,NaN,0.0,8.0,NaN,-1<br />
1,2014-1-2,-1,-4,-8,-6,-8,-11,75,69,53,...,3,2,2,6,0,NaN,0.0,8.0,NaN,-1<br />
2,2014-1-3,1,-3,-8,-4,-6,-10,84,72,54,...,3,2,2,6,0,NaN,0.0,8.0,NaN,-1<br />
3,2014-1-4,-1,-2,-3,-4,-5,-6,80,74,64,...,8,4,2,14,2,NaN,0.0,8.0,NaN,-1<br />
4,2014-1-5,-1,-3,-6,-4,-6,-8,93,79,71,...,6,3,2,14,2,NaN,0.0,8.0,Snow,-1<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,8,2,-4,1,-2,-4,91,70,43,...,10,10,10,14,5,NaN,0.0,6.0,NaN,108<br />
361,2014-12-28,10,4,-1,2,1,-2,86,66,46,...,10,10,8,23,5,NaN,0.0,2.0,NaN,190<br />
362,2014-12-29,12,5,-2,2,-1,-3,88,63,38,...,10,10,10,19,8,NaN,0.0,1.0,NaN,162<br />
363,2014-12-30,13,6,-1,2,0,-3,81,60,37,...,10,10,10,14,5,NaN,0.0,1.0,NaN,128<br />
364,2014-12-31,13,6,-1,1,-2,-4,81,56,33,...,10,10,10,21,6,NaN,0.0,NaN,NaN,180<br />

In [129]:
df['Mean TemperatureC'].mean().round(2)

np.float64(22.9)

In [130]:
df['MeanDew PointC'].mean().round(2)

np.float64(13.68)

In [131]:
df.columns = df.columns.str.strip()

In [132]:
df['Mean Humidity'].mean().round(2)

np.float64(58.07)

In [136]:
df['Mean VisibilityKm'].mean().round(2)

np.float64(12.27)

In [137]:
#top5 warmest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].head(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
251  2014-9-9                33                 24                15
250  2014-9-8                34                 24                15
249  2014-9-7                33                 25                17
248  2014-9-6                31                 23                17
247  2014-9-5                34                 26                17

In [138]:
#top5 coldest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].tail(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
12  2014-1-13                 1                 -7               -14
11  2014-1-12                -4                -11               -17
10  2014-1-11                -5                -10               -15
9   2014-1-10                -5                -10               -14
0    2014-1-1                -4                 -7                -9

In [139]:
#Most humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].head(5)

           Date  Max Humidity
322  2014-11-19           100
355  2014-12-22           100
47    2014-2-17           100
53    2014-2-23           100
349  2014-12-16           100

In [140]:
#least humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].tail(5)

          Date  Max Humidity
197  2014-7-17            38
251   2014-9-9            36
172  2014-6-22            34
120   2014-5-1            33
75   2014-3-17            30

In [161]:
data = pd.read_csv('London_2014.csv')
data

,GMT,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,11,8,6,9,7,4,94,86,73,...,31,11,2,40,26,66.0,9.91,4.0,Rain,186<br />
1,2014-1-2,11,9,6,9,6,4,94,81,60,...,31,15,5,32,21,50.0,1.02,2.0,Rain,214<br />
2,2014-1-3,11,8,6,9,5,2,94,76,54,...,31,12,0,50,29,69.0,7.11,2.0,Rain-Thunderstorm,219<br />
3,2014-1-4,9,6,3,8,6,2,93,85,65,...,31,12,5,35,21,39.0,9.91,4.0,Rain,211<br />
4,2014-1-5,12,7,1,11,4,-1,100,88,77,...,31,14,5,35,16,NaN,0.25,5.0,Rain,199<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,4,3,2,8,1,-1,93,83,64,...,31,13,9,42,26,61.0,0.00,4.0,Rain,330<br />
361,2014-12-28,6,2,-2,1,-2,-3,100,76,45,...,31,17,8,16,11,NaN,0.00,1.0,NaN,5<br />
362,2014-12-29,6,1,-4,2,-1,-4,100,87,62,...,24,10,5,13,8,NaN,0.25,1.0,NaN,289<br />
363,2014-12-30,6,1,-4,2,-1,-4,100,90,68,...,27,9,3,14,6,NaN,0.25,3.0,NaN,258<br />
364,2014-12-31,8,2,-4,5,2,-4,100,89,70,...,19,9,0,23,8,37.0,0.25,4.0,Fog,201<br />

In [162]:
df = pd.read_csv('London_2014.csv')

In [163]:
df['Mean TemperatureC'].mean().round(2)

np.float64(12.33)

In [164]:
df['MeanDew PointC'].mean().round(2)

np.float64(7.86)

In [165]:
df.columns = df.columns.str.strip()

In [166]:
df['Mean Humidity'].mean().round(2)

np.float64(73.8)

In [167]:
df['Mean VisibilityKm'].mean().round(2)

np.float64(13.17)

In [170]:
print(data.columns)

Index(['GMT', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC',
       'Dew PointC', 'MeanDew PointC', 'Min DewpointC', 'Max Humidity',
       ' Mean Humidity', ' Min Humidity', ' Max Sea Level PressurehPa',
       ' Mean Sea Level PressurehPa', ' Min Sea Level PressurehPa',
       ' Max VisibilityKm', ' Mean VisibilityKm', ' Min VisibilitykM',
       ' Max Wind SpeedKm/h', ' Mean Wind SpeedKm/h', ' Max Gust SpeedKm/h',
       'Precipitationmm', ' CloudCover', ' Events', 'WindDirDegrees<br />'],
      dtype='object')

In [174]:
#top5 warmest days
data.sort_values(['GMT', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['GMT', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].head(5)

          GMT  Max TemperatureC  Mean TemperatureC  Min TemperatureC
251  2014-9-9                22                 17                12
250  2014-9-8                22                 16                10
249  2014-9-7                21                 17                13
248  2014-9-6                22                 19                16
247  2014-9-5                21                 18                16

In [172]:
#top5 coldest days
data.sort_values(['GMT', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['GMT', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].tail(5)

          GMT  Max TemperatureC  Mean TemperatureC  Min TemperatureC
12  2014-1-13                 9                  7                 5
11  2014-1-12                10                  4                -2
10  2014-1-11                 9                  4                 0
9   2014-1-10                11                  7                 2
0    2014-1-1                11                  8                 6

In [176]:
 #Most humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['GMT', 'Max Humidity']].head(5)

            GMT  Max Humidity
364  2014-12-31           100
320  2014-11-17           100
284  2014-10-12           100
285  2014-10-13           100
90     2014-4-1           100

In [177]:
#least humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['GMT', 'Max Humidity']].tail(5)

            GMT  Max Humidity
167   2014-6-17            77
183    2014-7-3            77
298  2014-10-26            77
171   2014-6-21            77
100   2014-4-11            71

In [178]:
data = pd.read_csv('Moscow_SVO_2014.csv')
data

,Date,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,1,-1,-2,-2,-3,-5,87,81,75,...,10.0,10.0,10.0,21,14,NaN,0.0,8.0,NaN,227<br />
1,2014-1-2,-2,-3,-5,-4,-5,-6,93,87,80,...,10.0,10.0,10.0,18,13,NaN,0.0,8.0,NaN,200<br />
2,2014-1-3,-1,-3,-4,-2,-4,-6,100,89,80,...,10.0,7.0,3.0,21,11,32.0,0.0,8.0,Snow,134<br />
3,2014-1-4,-1,-2,-2,-3,-4,-5,93,85,80,...,10.0,6.0,3.0,18,13,32.0,0.0,8.0,Snow,157<br />
4,2014-1-5,1,0,-1,1,-1,-3,100,93,81,...,10.0,6.0,1.0,26,16,NaN,0.0,8.0,Snow,195<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,-7,-9,-13,-8,-9,-14,93,91,80,...,10.0,10.0,8.0,26,19,43.0,0.0,7.0,NaN,224<br />
361,2014-12-28,-10,-12,-15,-11,-13,-16,93,92,85,...,10.0,7.0,0.0,18,8,NaN,0.0,7.0,Fog-Snow,36<br />
362,2014-12-29,-12,-14,-17,-13,-17,-19,92,87,78,...,10.0,10.0,9.0,18,13,NaN,0.0,7.0,Snow,306<br />
363,2014-12-30,-15,-17,-18,-17,-18,-20,92,86,85,...,10.0,10.0,9.0,21,14,40.0,0.0,4.0,NaN,320<br />
364,2014-12-31,-7,-14,-22,-8,-16,-24,93,87,78,...,10.0,6.0,2.0,32,16,35.0,0.0,7.0,Snow,221<br />

In [179]:
data = pd.read_csv('Moscow_SVO_2014.csv')
data

,Date,Max TemperatureC,Mean TemperatureC,Min TemperatureC,Dew PointC,MeanDew PointC,Min DewpointC,Max Humidity,Mean Humidity,Min Humidity,...,Max VisibilityKm,Mean VisibilityKm,Min VisibilitykM,Max Wind SpeedKm/h,Mean Wind SpeedKm/h,Max Gust SpeedKm/h,Precipitationmm,CloudCover,Events,WindDirDegrees<br />
0,2014-1-1,1,-1,-2,-2,-3,-5,87,81,75,...,10.0,10.0,10.0,21,14,NaN,0.0,8.0,NaN,227<br />
1,2014-1-2,-2,-3,-5,-4,-5,-6,93,87,80,...,10.0,10.0,10.0,18,13,NaN,0.0,8.0,NaN,200<br />
2,2014-1-3,-1,-3,-4,-2,-4,-6,100,89,80,...,10.0,7.0,3.0,21,11,32.0,0.0,8.0,Snow,134<br />
3,2014-1-4,-1,-2,-2,-3,-4,-5,93,85,80,...,10.0,6.0,3.0,18,13,32.0,0.0,8.0,Snow,157<br />
4,2014-1-5,1,0,-1,1,-1,-3,100,93,81,...,10.0,6.0,1.0,26,16,NaN,0.0,8.0,Snow,195<br />
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2014-12-27,-7,-9,-13,-8,-9,-14,93,91,80,...,10.0,10.0,8.0,26,19,43.0,0.0,7.0,NaN,224<br />
361,2014-12-28,-10,-12,-15,-11,-13,-16,93,92,85,...,10.0,7.0,0.0,18,8,NaN,0.0,7.0,Fog-Snow,36<br />
362,2014-12-29,-12,-14,-17,-13,-17,-19,92,87,78,...,10.0,10.0,9.0,18,13,NaN,0.0,7.0,Snow,306<br />
363,2014-12-30,-15,-17,-18,-17,-18,-20,92,86,85,...,10.0,10.0,9.0,21,14,40.0,0.0,4.0,NaN,320<br />
364,2014-12-31,-7,-14,-22,-8,-16,-24,93,87,78,...,10.0,6.0,2.0,32,16,35.0,0.0,7.0,Snow,221<br />

In [180]:
df = pd.read_csv('Moscow_SVO_2014.csv')

In [181]:
df['Mean TemperatureC'].mean().round(2)

np.float64(5.99)

In [182]:
df.columns = df.columns.str.strip()

In [183]:
df['Mean Humidity'].mean().round(2)

np.float64(73.38)

In [184]:
df['Mean VisibilityKm'].mean().round(2)

np.float64(8.29)

In [185]:
#top5 warmest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].head(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
251  2014-9-9                20                 16                11
250  2014-9-8                20                 14                 9
249  2014-9-7                21                 14                 9
248  2014-9-6                20                 13                 7
247  2014-9-5                22                 16                 9

In [186]:
#top5 coldest days
data.sort_values(['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC'], 
                 ascending=False)[['Date', 'Max TemperatureC', 'Mean TemperatureC', 'Min TemperatureC']].tail(5)

         Date  Max TemperatureC  Mean TemperatureC  Min TemperatureC
12  2014-1-13                 1                 -4                -8
11  2014-1-12                 1                 -1                -3
10  2014-1-11                 4                  0                -3
9   2014-1-10                 4                  2                 2
0    2014-1-1                 1                 -1                -2

In [188]:
#Most humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].head(5)

          Date  Max Humidity
182   2014-7-2           100
266  2014-9-24           100
106  2014-4-17           100
277  2014-10-5           100
272  2014-9-30           100

In [189]:
#least humid days
data.sort_values('Max Humidity', 
                 ascending=False)[['Date', 'Max Humidity']].tail(5)

           Date  Max Humidity
57    2014-2-27            63
101   2014-4-12            60
113   2014-4-24            60
299  2014-10-27            57
128    2014-5-9            54

# Link to your publication